<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LISTA DE PARTIDAS</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div th:fragment="content">
    <br>
    <h1>LISTA DE PARTIDA</h1>

</div>
</body>
</html>